*, *:before, *:after {
  box-sizing: border-box;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  margin: 0px;
  text-align: center;
}

h1 {
  padding: 15px;
  background-color: #333333;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  margin: 0;
  text-align: center;
  padding: 15px;
  background-color: black;
  color: #FFFFFF;
  font-size: 15px
}

nav > ul {
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 15px;
}

nav > ul > li {
  display: inline-block;
  background-color: #D3D3D3;
  padding: 10px;
}

nav > ul > li > a {
  margin-top: 10 px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
}

h2 {
  margin: 0px;
  background-color: #A0FBD3;
  padding: 10px 5px 10px 5px;
  font-weight: 549;
  text-align: left;
}

h2 > span {
  text-decoration: underline;
  text-decoration-color: #FBD72B;
  font-weight: 600;
}

figure {
  margin: 0px;
  max-width: 200px;
  display: inline-block;
}

figcaption {
  background-color: #FBD72B;
  text-align: center;
  margin: 0px;
  padding: 5px 0px;
}

.row1 {
  display: inline-block;
  margin: 10px 25px 10px 25px;
  text-align: center;
}

.row2 {
  display: inline-block;
  margin: 10px 25px 10px 25px;
  text-align: center;
}

.notice {
  display: inline-block;
  width: 615px;
}
